# Postgres Database
DATABASE_URL="postgresql://samariumtcg:samariumtcg@localhost:5432/samariumtcg"

# BetterAuth
# Generate: openssl rand -base64 32
BETTER_AUTH_SECRET="change-me-generate-with-openssl-rand-base64-32"
BETTER_AUTH_URL=http://localhost:3000  # Public URL of website

REGISTRATION=true # Default true, set to false to disable registration (only for local email/password)

# OAuth — Needed for login with your own OIDC provider (e.g. Authelia, Keycloak, etc.)
# OIDC redirect URI must match : /api/auth/callback/$AUTH_OIDC_PROVIDER_ID
AUTH_OIDC_LOGIN_ONLY=false # Default false, set to true if you want to disable local email/password login 
# AUTH_OIDC_PROVIDER_ID="authelia"
# AUTH_OIDC_NAME="Authelia"
# AUTH_OIDC_CLIENT_ID=""
# AUTH_OIDC_CLIENT_SECRET=""
# AUTH_OIDC_ISSUER="https://your-identity-provider.example.com"
# AUTH_OIDC_SCOPE="openid profile email groups offline_access"
